*{
    text-align: center;
    font-family: cursive;
    margin: 10px;
}
.juego{
    width: 750px;
}
.titulo{
    font-size: 30px;
}
.tema{
    font-size: 20px;
}
.errores{
    border-radius: 8px;
    border-color: red;
}
.aciertos{
    border-radius: 8px;
    border-color: green;
}
